theme: jekyll-theme-cayman
author: joy717
url: joy717.github.io
baseurl: /blog
lang: zh_CN
markdown: CommonMarkGhPages
plugins:
  - jekyll-seo-tag
  - jekyll-readme-index
  - jekyll-paginate
defaults:
  - scope:
      path: "" # an empty string here means all files in the project
      type: "posts" # previously `post` in Jekyll 2.2.
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"